<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>###TITLE###</title>
	<style type="text/css">
	td{
		vertical-align:top;
		padding:5px;
	}
	table {
		border-collapse:collapse; 
		border-spacing:0;
		padding: 5px;
	}
	#layout {
		height: 100%;
		padding:0;
	}
	#menu {
		background-color: #E0E0FF;
	}
	body {
		padding : 0;
		margin: 0;
		font-family: Sans;
	}
	.even {
		background-color: #FFFFD0;
	}
	.odd {
		background-color: #D0D0FF;
	}
	</style>
</head>
<body>
<table id="layout">
<tr><td id="menu">
<form method="get" action="/">
<input type="text" name="search"><input type="submit" value="Search">
</form>
<ul>
###PLAYLISTS###
<li><a href="/?playlist=###PLAYLISTS.PLAYLIST_ID###">###PLAYLISTS.NAME###</a>
###/PLAYLISTS###
</ul>
</td><td>###CONTENT###</td></tr></table>
</body>
</html>
